<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="Resources/angular_framework.js"></script>
    <script src="app.js"></script>
    <script src="controllers/homeController.js"></script>
    <title>Calculadora limites</title>
  </head>
  <body ng-app="app">
    <style>
      input {
        display: inline-block;
        width: 30px;
      }
      h3 {
        display: inline-block;
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 1.2em;
      }
    </style>
    <div ng-controller="home">
      <div ng-if="view=='pageOne'">
        <h1>Calculadora de limites</h1>
        <h3>Elija el tipo de función que desea realizar</h3>
        <div style="max-width: 750px;margin-top: 90px;">
          <div ng-repeat="item in items">
            <div>
              <button ng-click="algo(item.url)">{{ item.text }}</a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="view=='pageTwo'">
        <div>
          <h3>Lim</h3>
          <input type="text" ng-model="aValue">x+
          <input type="text" ng-model="bValue">
          <br>
          <h3>x→</h3>
          <input type="text" placeholder="a" ng-model="xValue"> <br/>
          <button ng-click="operate({aValue}, {bValue}, {xValue})">Realizar calculo</button>
        </div>
    
        <p id="mensaje"></p>
        <a href="index.html">Volver al pricipio</a>
      </div>

      <div ng-if="view=='pageThree'">
        <div>
          <h3>F(x)=</h3>
          <input type="text" ng-model="aValue">x+
          <input type="text" ng-model="bValue">
          <br>
          <hr>
          x+<input type="text" ng-model="cValue">
          <h3>x→</h3>
          <input type="text" placeholder="a" ng-model="xValue"> <br/>
        </div>
        <button ng-click="operate({aValue}, {bValue}, {xValue}, {cValue})">Realizar calculo</button>
        <p id="mensaje"></p>
        <a href="index.html">Volver al pricipio</a>
      </div>

      <div ng-if="view=='pageFour'">
        <div>
          <h3>Lim</h3>
          √(<input type="text" ng-model="aValue">x+
          <input type="text" ng-model="bValue">)
          <h3>x→</h3>
          <input type="text" ng-model="xValue" placeholder="a"> <br/>
          <button ng-click="operate({aValue}, {bValue}, {xValue})">Realizar calculo</button>
        </div>
        <p id="mensaje"></p>
        <a href="index.html">Volver al pricipio</a>
      </div>

      <div ng-if="view=='pageFive'">
        <div>
            <h3>Lim</h3>√(<input type='text' ng-model="aValue">x²+
            <input type='text' ng-model="bValue">)
            <h3>x→</h3>
            <input type='text' ng-model="xValue" placeholder='a'> <br/>
            <button ng-click="operate({aValue}, {bValue}, {xValue})">Realizar calculo</button>
        </div>
        <p id="mensaje"></p>
        <a href="index.html">Volver al pricipio</a>
      </div>
    </div>
  </body>
</html>
